
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment files
.env

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/
